body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.btn-cont {
    width: 700px; /* Adjust the width as needed */
    
    background-color: #009bf5; /* Optional: Add a background color */
    border: 1px solid #ccc; /* Optional: Add a border */
    text-align: center; /* Optional: Center the text inside the container */
    padding: 20px; 
    box-shadow: 1px 1px 2px 3px;
}
button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;

  
}
button:hover {
  background-color: #2980b9;
}
button:hover::before {
  transform: scale(1.1);
}